.btn {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
}
.btn--large {
  min-width: 220px;
  padding: 15px;
}
.btn--link {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #5a98d0;
}

.btn--link:hover {
  color: color(#5a98d0 tint(20%));
}
.btn--link:hover .btn__icon {
  fill: color(#5a98d0 tint(20%));
}
.btn--link:active {
  color: color(#5a98d0 shade(20%));
}
.btn--link:active svg {
  fill: color(#5a98d0 shade(20%));
}
.btn--with-icon {
  display: inline-flex;
  align-items: center;
}
.btn--with-icon span {
  margin-right: 16px;
}
.btn--full-width {
  width: 100%;
  padding: 23px;
}
.btn--primary {
  background-color: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  color: #ffffff;
}
.btn--primary:hover {
  background-color: color(#5a98d0 tint(10%));
}
.btn--primary:active {
  background-color: color(#5a98d0 shade(10%));
}
