.clients {
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: #5a98d0;
  border-radius: 200px 0px 0px 0px;
}
.clients__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 110px;
  padding-right: 80px;
}
@media (max-width: 1100px) {
  .clients__header {
    flex-direction: column;
    padding-right: 0;
  }
}
.clients__title {
  width: 226px;
}
@media (max-width: 1100px) {
  .clients__title {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
  }
}
.clients__text {
  width: 546px;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1100px) {
  .clients__text {
    width: 70%;
    text-align: center;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 1100px) {
  .clients__list {
    justify-content: center;
  }
}
@media (max-width: 1037px) {
  .clients__list {
    width: 480px;
    margin: 0 auto;
  }
}
@media (max-width: 570px) {
  .clients__list {
    width: 100%;
  }
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 128px;
}

@media (min-width: 1038px) {
  .clients__item:nth-child(n + 5) {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  .clients__item:not(:nth-child(4n + 4)) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
}
@media (min-width: 571px) and (max-width: 1037px) {
  .clients__item:nth-child(n + 3) {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  .clients__item:not(:nth-child(2n + 2)) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
}
@media (max-width: 570px) {
  .clients__item {
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}

.clients__link {
  font-size: 20px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.clients__item--more {
  background-color: rgba(31, 63, 104, 0.2);
}
.clients__item--more .clients__link {
  text-transform: capitalize;
}
