/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-right: 83px;
  padding-left: 83px;
  padding-bottom: 0;
}
@media (max-width: 1220px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
  }
}