.title {
  margin: 0;
}
.title--inner-page {
  font-size: 44px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.title--section {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (max-width: 420px) {
  .title--section {
    font-size: 30px;
  }
}
.title--block {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
}
.title--blue {
  color: #316099;
}
.title--white {
  color: #ffffff;
}
