/* Global */
@import 'normalize.css';
@import './fonts.css';
@import './config.css';

/* Blocks */
@import './blocks/container.css';
@import './blocks/btn.css';
@import './blocks/title.css';
@import './blocks/page.css';
@import './blocks/logo.css';
@import './blocks/menu.css';
@import './blocks/header.css';
@import './blocks/intro.css';
